*{
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
}

body{
  margin:0;
  background:#0a0a0a;
  color:#ffffff;
}

/* NAVBAR */
.navbar{
  height:60px;
  background:#000;
  color:#fff;
  display:flex;
  align-items:center;
  gap:10px;
  font-size:28px;
  border-bottom:1px solid #222;
}

.navbar i{
  margin-left:20px;
  color:#22c55e;
}

/* SONG GRID */
.songs{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:25px;
  margin:50px 0 130px;
}

/* CARD */
.card{
  background:#000;
  border:1px solid #222;
  width:215px;
  height:350px;
  padding:12px;
  border-radius:14px;
  display:flex;
  flex-direction:column;
  align-items:center;
  transition:0.3s;
}

/* NEON HOVER */
.card:hover{
  transform:translateY(-6px);
  border-color:#22c55e;
  box-shadow:
    0 0 10px #22c55e,
    0 0 20px rgba(34,197,94,0.5);
}

/* ACTIVE SONG */
.card.active{
  border-color:#3b82f6;
  box-shadow:
    0 0 12px #3b82f6,
    0 0 25px rgba(59,130,246,0.6);
}

/* IMAGE */
.card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:12px;
}

/* TEXT */
.card h3{
  margin:10px 0 5px;
  color:#fff;
}

.card h5{
  color:#9ca3af;
  margin:0;
}

/* CONTROLS */
.controls{
  margin-top:15px;
  font-size:22px;
  cursor:pointer;
}

.controls i{
  color:#22c55e;
  transition:0.2s;
}

.controls i:hover{
  transform:scale(1.2);
}

/* FOOTER PLAYER */
.audio-footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:90px;
  background:#000;
  border-top:1px solid #222;
  display:flex;
  align-items:center;
  justify-content:center;
}

#audioPlayer{
  width:90%;
  filter:invert(1) brightness(1.2);
}
